[
  {
    "id": "mysql_yz_orders_sample_94ba6f84",
    "alias": "yz_orders_sample",
    "connection_name": "sorder",
    "sql_query": "SELECT * FROM yz_order LIMIT 5",
    "description": "yz_order表样本数据",
    "row_count": 5,
    "columns": [
      "id",
      "order_id",
      "outer_tid",
      "payment_fee",
      "post_fee",
      "receiver_province",
      "receiver_city",
      "receiver_district",
      "receiver_zip",
      "receiver_address",
      "receiver_name",
      "receiver_mobile",
      "receiver_phone",
      "state",
      "discount_fee",
      "total_fee",
      "buyer_message",
      "buyer_id",
      "pay_time",
      "sign_time",
      "shipping_time",
      "create_time",
      "update_time",
      "delete_flag",
      "showcase_id",
      "supplier_from",
      "supplier_username",
      "distributor_from",
      "distributor_username",
      "fenxiao_id",
      "pay_type",
      "trade_type",
      "transaction_id",
      "buyer_payment",
      "iget_uid",
      "platform",
      "wx_entrance",
      "open_id",
      "broker_code",
      "spm",
      "type"
    ],
    "created_at": "2025-07-22T04:59:37.227987",
    "type": "mysql_query"
  }
]